@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {box-sizing: border-box}

head { 
	display: none;
}

header {
	font-family: 'Quicksand', sans-serif;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
}

body {
	font-family: 'Open-Sans', sans-serif;
}

input, button {
	width: 100%;
	padding: 12px;
	border: none;
	border-radius: 4px;
	margin: 5px 0;
	opacity: 0.85;
	display: inline-block;
	font-size: 17px;
	line-height: 20px;
	text-decoration: none;
}

button[type=submit] {
  background-color: #F08080;
  color: white;
  cursor: pointer;
}

.logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 20%;
}

.login-container {
	position: relative;
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px 0 30px 0;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.col {
	float: left;
	width: 50%;
	margin: auto;
	padding: 0 50px;
	margin-top: 6px;
}

.line {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  border: 2px solid #ddd;
  height: 560px;
}

.vl-txt {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 50%;
  padding: 8px 10px;
}
