<section> <h6>PIKT</h6>
	<form id = "formID" action="/" method="POST">
		<label>Upload Picture </label>
		<input id = "picture" type="file" name="pic" accept="image/*">
  		<input type="submit">

	</form>
	<div class="form-group hidden" id="error-container">
        <div class="alert alert-danger text-goes-here">
        </div>
    </div>
</section>
{{!-- <script src="public/js/form.js"></script> --}}

