<header>
	<h1>Log In!</h1>
</header>

{{#if error}}
<div>
	<h2>Error:</h2>
	{{error}}
</div>
{{/if}}

<div>
	<form id="login-form" method="post" action="/login">
		<label for="username">Username: </label>
		<input type="text" name="username" id="username">
		<label for="password">Password: </label>
		<input type="password" name="password" id="password">
		<button type="submit">Log in</button>
	</form>

	<form id="sign_up_form" method="post" action="/signup">
		<label for="username">Username: </label>
		<input type="text" name="username" id="username">
		<label for="password">Password: </label>
		<input type="password" name="password" id="password">
		<label for="re_password">Re Type Password: </label>
		<input type="password" name="re_password" id="re_password">

		<label for="name">Enter Your Name: </label>
		<input type="text" name="name" id="name">

		<label for="local">Local: </label>
		<input type="local" name="local" id="local">

		<label for="state">State: </label>
		<input type="state" name="state" id="state">

		<label for="region">Region: </label>
		<input type="region" name="region" id="region">

		<button type="submit">Sign Up</button>
	</form>
</div>