<img src="logo.png" alt="pickt_logo" class="logo">
<header>
	<h1>Welcome to Pickt.</h1>
</header>

{{#if error}}
<div class="login-container">
<div class="row">
	<h2>Error:</h2>
	{{error}}
</div>
</div>
{{/if}}

<div class="login-container">
	<div class="row">

	<div class="col">
	<form id="login-form" method="post" action="/login">
		<label for="username">Username: </label>
		<input type="text" name="username" id="username">
		<br>
		<label for="password">Password: </label>
		<input type="password" name="password" id="password">
		<button type="submit">Log in</button>
	</form>
	</div>

	<div class="line">
		<span class="vl-txt">or</span>
	</div>

	<div class="col">
	<form id="sign_up_form" method="post" action="/signup">
		<label for="username">Username: </label>
		<input type="text" name="username" id="username">
		<br>

		<label for="password">Password: </label>
		<input type="password" name="password" id="password">
		<br>

		<label for="re_password">Retype Password: </label>
		<input type="password" name="re_password" id="re_password">
		<br>

		<label for="name">Enter Your Name: </label>
		<input type="text" name="name" id="name">
		<br>

		{{!-- <label for="local">Local: </label>
		<input type="local" name="local" id="local"> --}}
		<select>
			<option value = "Atlantic County"> Atlantic County </option>
			<option value = "Bergen County"> Bergen County </option>
		</select>
		<br>

		<label for="state">State: </label>
		<input type="state" name="state" id="state">
		<br>

		<label for="region">Region: </label>
		<input type="region" name="region" id="region">
		<br>

		<button type="submit">Sign Up</button>
	</form>

	</div>
	</div>
</div>
