li.is-palindrome{
	color:#0000FF;
}
li.not-palindrome{
	color:#FF0000;
}
h1 {
	color: blueviolet;
}
main{
	align-content: center;
}
p{
	font-size: 25px;
}
label {
	color: blueviolet;
    padding: 8px;
}
input[type=palindromeInput], select {
    width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
body { font-family: Helvetica; }

div {
  width: 300px;
  margin: auto;
  color:red;
}

@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700");
  
ol {
  max-width: 350px;
  counter-reset: my-awesome-counter;
  list-style: none;
  padding-left: 40px;
}
ol li {
  margin: 0 0 0.5rem 0;
  counter-increment: my-awesome-counter;
  position: relative;
}
ol li::before {
  content: counter(my-awesome-counter);
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: bold;
  position: absolute;
  --size: 32px;
  left: calc(-1 * var(--size) - 10px);
  line-height: var(--size);
  width: var(--size);
  height: var(--size);
  top: 0;
  transform: rotate(-10deg);
  background: black;
  border-radius: 50%;
  text-align: center;
  box-shadow: 1px 1px 0 #999;
}

body {
  background: #ffffff;
  font-family: Lato, sans-serif;
  line-height: 1.4;
  font-size: 90%;
  margin: 2rem;
}