<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>My Palindrome Site Thing</title>
    <link rel="stylesheet" href="/public/css/site.css">
</head>
<body>
    <main>
        {{{body}}}
    </main>
<footer> <p>It Takes Two To MongoDB</p> </footer>
</body>
</html>